<div style="width: 100%;">
  <p id="notice"><%= notice %></p>
  <div class="buttons_padding">

  </div>

  <h1>Полученные запросы на консультацию</h1>

  <div style="width: 100%; padding-top: 15px;">
    <div class="objects_table"><%= render 'consultation' %></div>
  </div>
</div>