<div style="width: 100%;">
  <p id="notice"><%= notice %></p>
  <div class="buttons_padding">
    <%= link_to 'Задать вопрос', new_question_path, class: "btn btn-primary btn-success" %> 
    <%= link_to 'Записаться на консультацию', new_consultation_path, class: "btn btn-primary btn-success" %>
  </div>
</div>