$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#index_page {
  display:block;
  max-width: 600px;
  border-right: 1px solid #000;
  margin: 0 auto;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

input, textarea, select, .unedetable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

input {
  height: auto !important;
}

table {
  display: table;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.search_form {
  text-align: center;
  width: 35%;
  margin-bottom: 10px;
  margin-right: 40px;
  float: right;
}

.new_and_edit_object_form {
  width: 50%;
  display: table;
  margin: 0 auto;
}

.buttons_padding {
  padding-left: 10px;
}

.objects_table {
  width: 95%;
  display: table;
  margin: 0 auto;
}


// новые стили

body {
  padding-top: 60px;
  background: #fff !important;
}

.header{
  position: fixed;
  display: flex;
  top: 0;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: #4286f4;
  box-shadow: 0 3px 5px 0 rgba(66, 134, 244, .7);
  z-index: 10;
}

.logo {
    padding: 0 30px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
  }

.main-menu {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  li{
    display: block;
  }
  a {
    display: block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    transition: .3s;
    &:hover{
      background: #236be0;
      box-shadow: 0 3px 7px 0 rgba(35, 107, 224, .9);
      text-decoration: none;
    }
    &:visited{
      color: #fff;
      
    }
  }
}

.section1 {
  max-width: 1440px;
  margin: 50px auto 0;
  text-align: center;
  background: url('/assets/bg3.png') no-repeat center right;
}

.caption1 {
  margin-bottom: 30px;
  padding: 0 30px;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;

}

.profile-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.profile {
  max-width: 400px;
  width: 100%;
  margin: 0 auto 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(66, 134, 244, .7);
  overflow: hidden;
  img{
    max-width: 100%;
  }
}

.description{
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 20px;
  line-height: 28px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, .7)

}

.buttons{
  display: flex;
  margin: 30px auto 50px;
  padding: 0 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn1 {
  direction: block;
  margin: 15px;
  padding: 10px 15px;
  background: #4286f4;
  border-radius: 5px;
  color: #fff;
  box-shadow: 1.5px 3px 5px 0 rgba(66, 134, 244, .7);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  &:visited{
    color: #fff;
  }
  &:hover{
    box-shadow: 1.5 3px 10px 0 rgba(35, 107, 224, .9);
    background: #236be0;
    text-decoration: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  background-color: #4286f4;
  .footer_text{
    font-size: 20px;
  }
}

.slider {
  max-width: 500px;
  max-height: 200px;
  margin: 50px auto;
  padding: 0 35px;
  overflow: hidden;
  .slid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    // max-width: 100%;
    // max-height: 100%;
  }
  .owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 31px;
    height: 63px;
    background: url('/assets/a2.png') no-repeat center;
    cursor: pointer;
    z-index: 9;
  }
  .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 31px;
    height: 63px;
    background: url('/assets/a1.png') no-repeat center;
    cursor: pointer;
    z-index: 9;
  }
}

// медиа

@media only screen and (max-width : 768px) {
  .header {
    position: static;
  }
  body {
    padding-top: 0;
  }
}