$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#index_page {
  display:block;
  max-width: 600px;
  border-right: 1px solid #000;
  margin: 0 auto;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

input, textarea, select, .unedetable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

input {
  height: auto !important;
}

table {
  display: table;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.search_form {
  text-align: center;
  width: 35%;
  margin-bottom: 10px;
  margin-right: 40px;
  float: right;
}

.new_and_edit_object_form {
  width: 50%;
  display: table;
  margin: 0 auto;
}

.buttons_padding {
  padding-left: 10px;
}

.objects_table {
  width: 95%;
  display: table;
  margin: 0 auto;
}
