html {
  height: 100%;
  width: 100%;
}

body { 
  height: 100%;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

* {
  box-sizing: bolder-box;
}

mark {
    background: orange;
    color: black;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.footer {
  height: 115px;
  margin-top: -115px;
  position: relative;
}

.empty {
  height: 115px;
}

.centered_buttons {
  margin: 0 auto;
  text-align: center;
}




